<a href="https://colab.research.google.com/github/madhurapi/Food-Demand-Forecast/blob/main/Food_Demand_Forecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

import pandas as pd
pd.set_option('display.max_column',None)

import warnings
warnings.filterwarnings('ignore')

import math
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats 
import statsmodels.api as sm
import statsmodels.formula.api as smf

from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from scipy.stats import chi2, chi2_contingency
from statsmodels.stats.multicomp import pairwise_tukeyhsd

from scipy.stats import pearsonr

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from IPython.display import Image

from math import sqrt
import sklearn

from sklearn.linear_model import Lasso, LassoCV, Ridge, RidgeCV
from sklearn.model_selection import cross_val_predict, train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import StandardScaler


from sklearn.linear_model import SGDRegressor


from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OneHotEncoder

from sklearn.feature_selection import RFE
from imblearn.over_sampling import SMOTE

from sklearn import tree
from sklearn import metrics
from sklearn.tree import DecisionTreeRegressor

import graphviz
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.preprocessing import scale

get_ipython().run_line_magic('matplotlib', 'inline')
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [ ]:
# loading data

In [ ]:
centre_info = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Food Demand csv/fulfilment_center_info.csv")
centre_info.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [ ]:
meal_info = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Food Demand csv/meal_info.csv")
meal_info.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [ ]:
train_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Food Demand csv/train (2).csv")
train_data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [ ]:
test_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Food Demand csv/test_QoiMO9B.csv")
test_data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0

In [ ]:
pivot_1 = meal_info.pivot_table(index =['cuisine'],
                       values =['meal_id'],
                       aggfunc ='count')
pivot_1

             meal_id
cuisine
Continental       12
Indian            12
Italian           12
Thai              15

In [ ]:
# addition of calculated fields - dicount amt & %discount

In [ ]:
# train_data['%discount'] = ((train_data['base_price'] - train_data['checkout_price']) * 100) / train_data['base_price']
# train_data.head()

In [ ]:
# train_data['discount_amt'] = ((train_data['base_price'] - train_data['checkout_price']))
# train_data.head()

In [ ]:
# train_data['discount y/n'] = [1 if x > 0 else 0 for x in (train_data['base_price'] - train_data['checkout_price'])]
# train_data.head()

In [ ]:
train_data.isnull().sum()

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
num_orders               0
dtype: int64

In [ ]:
test_data.isnull().sum()

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
dtype: int64

In [ ]:
train_data.duplicated().sum()

0

In [ ]:
test_data.duplicated().sum()

0

In [ ]:
train_data.shape

(456548, 9)

In [ ]:
test_data.shape

(32573, 8)

In [ ]:
# dropping duplicate values
train_data.drop_duplicates(keep=False, inplace=True)
train_data.shape

(456548, 9)

In [ ]:
# dropping duplicate values
test_data.drop_duplicates(keep=False, inplace=True)
test_data.shape

(32573, 8)

In [ ]:
train_data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [ ]:
one_hot_encoding_df = train_data[['center_id','meal_id']]

In [ ]:
one_hot_encoding_df_test = test_data[['center_id','meal_id']]

In [ ]:
one_hot_encoding_df.head()

   center_id  meal_id
0         55     1885
1         55     1993
2         55     2539
3         55     2139
4         55     2631

In [ ]:
one_hot_encoding_df_test.head()

   center_id  meal_id
0         55     1885
1         55     1993
2         55     2539
3         55     2631
4         55     1248

In [ ]:
for i in one_hot_encoding_df.columns:
  print(i, ':', (len(one_hot_encoding_df[i].unique()),'labels'))

center_id : (77, 'labels')
meal_id : (51, 'labels')

In [ ]:
#showing top 30 frequently meal_id and center_id
train_data.center_id.value_counts().sort_values(ascending = False).head(30)

13     7046
10     7015
52     6993
43     6970
67     6915
137    6894
174    6891
51     6880
27     6853
108    6843
11     6801
132    6788
36     6776
59     6716
89     6706
153    6696
104    6687
20     6671
30     6666
53     6538
23     6434
80     6396
126    6389
17     6333
109    6296
99     6293
72     6252
101    6172
146    6164
76     6099
Name: center_id, dtype: int64

In [ ]:
train_data.meal_id.value_counts().sort_values(ascending = False).head(30)

2290    11138
1062    11137
1727    11136
1109    11134
1754    11132
2707    11123
1778    11121
1993    11116
1962    11114
1971    11102
1885    11092
2581    11072
2826    11057
2322    11002
1558    10952
1207    10806
2640    10747
1230    10746
1878    10527
2631    10458
2539    10451
1543    10236
2760    10209
1248     9939
2664     9853
2704     9811
1445     9727
2126     9705
1216     9695
2304     9676
Name: meal_id, dtype: int64

In [ ]:
# for top 30 frequency labels
top_30 = [i for i in train_data.center_id.value_counts().sort_values(ascending = False).head(30)]
top_30

[7046,
 7015,
 6993,
 6970,
 6915,
 6894,
 6891,
 6880,
 6853,
 6843,
 6801,
 6788,
 6776,
 6716,
 6706,
 6696,
 6687,
 6671,
 6666,
 6538,
 6434,
 6396,
 6389,
 6333,
 6296,
 6293,
 6252,
 6172,
 6164,
 6099]

In [ ]:
topp_30 = [i for i in train_data.center_id.value_counts().sort_values(ascending = False).head(30).index]
topp_30#to get index

[13,
 10,
 52,
 43,
 67,
 137,
 174,
 51,
 27,
 108,
 11,
 132,
 36,
 59,
 89,
 153,
 104,
 20,
 30,
 53,
 23,
 80,
 126,
 17,
 109,
 99,
 72,
 101,
 146,
 76]

In [ ]:
topp_30_meal_id = [i for i in train_data.meal_id.value_counts().sort_values(ascending = False).head(30).index]
topp_30_meal_id#to get index

[2290,
 1062,
 1727,
 1109,
 1754,
 2707,
 1778,
 1993,
 1962,
 1971,
 1885,
 2581,
 2826,
 2322,
 1558,
 1207,
 2640,
 1230,
 1878,
 2631,
 2539,
 1543,
 2760,
 1248,
 2664,
 2704,
 1445,
 2126,
 1216,
 2304]

In [ ]:
for label in topp_30:
  train_data[label] = np.where(train_data['center_id'] == label, 1 , 0) #center_id

In [ ]:
# now getting dummies for a given variables with for loop instead of get dummies function.
#  bcoz for each variable we need to find the top 10 and then drop the other or merging it hence for loop will do it.

In [ ]:
# function to create the dummy variable for the variables
def one_hot_top_x(df, variable, top_x_labels):
  # top_x_labels is given bcoz we can change the top frequent labels if we want.

  for label in top_x_labels:
    df[label] = np.where(df[variable] == label, 1, 0)


one_hot_top_x(train_data, 'meal_id', topp_30_meal_id) # topp_30 is already defined which can be changed if needed.
train_data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,13,10,52,43,67,137,174,51,27,108,11,132,36,59,89,153,104,20,30,53,23,80,126,17,109,99,72,101,146,76,2290,1062,1727,1109,1754,2707,1778,1993,1962,1971,1885,2581,2826,2322,1558,1207,2640,1230,1878,2631,2539,1543,2760,1248,2664,2704,1445,2126,1216,2304
0,1379560,1,55,1885,136.83,152.29,0,0,177,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1466964,1,55,1993,136.83,135.83,0,0,270,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1346989,1,55,2539,134.86,135.86,0,0,189,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,1338232,1,55,2139,339.50,437.53,0,0,54,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1448490,1,55,2631,243.50,242.50,0,0,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [ ]:
one_hot_top_x(train_data, 'center_id', topp_30) # topp_30 is already defined which can be changed if needed.
train_data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,13,10,52,43,67,137,174,51,27,108,11,132,36,59,89,153,104,20,30,53,23,80,126,17,109,99,72,101,146,76,2290,1062,1727,1109,1754,2707,1778,1993,1962,1971,1885,2581,2826,2322,1558,1207,2640,1230,1878,2631,2539,1543,2760,1248,2664,2704,1445,2126,1216,2304
0,1379560,1,55,1885,136.83,152.29,0,0,177,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1466964,1,55,1993,136.83,135.83,0,0,270,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1346989,1,55,2539,134.86,135.86,0,0,189,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,1338232,1,55,2139,339.50,437.53,0,0,54,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1448490,1,55,2631,243.50,242.50,0,0,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456548 entries, 0 to 456547
Data columns (total 69 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     456548 non-null  int64
 1   week                   456548 non-null  int64
 2   center_id              456548 non-null  int64
 3   meal_id                456548 non-null  int64
 4   checkout_price         456548 non-null  float64
 5   base_price             456548 non-null  float64
 6   emailer_for_promotion  456548 non-null  int64
 7   homepage_featured      456548 non-null  int64
 8   num_orders             456548 non-null  int64
 9   13                     456548 non-null  int64
 10  10                     456548 non-null  int64
 11  52                     456548 non-null  int64
 12  43                     456548 non-null  int64
 13  67                     456548 non-null  int64
 14  137                    456548 non-null  int64
 15  174                    456548 non-null  int64
 16  51                     456548 non-null  int64
 17  27                     456548 non-null  int64
 18  108                    456548 non-null  int64
 19  11                     456548 non-null  int64
 20  132                    456548 non-null  int64
 21  36                     456548 non-null  int64
 22  59                     456548 non-null  int64
 23  89                     456548 non-null  int64
 24  153                    456548 non-null  int64
 25  104                    456548 non-null  int64
 26  20                     456548 non-null  int64
 27  30                     456548 non-null  int64
 28  53                     456548 non-null  int64
 29  23                     456548 non-null  int64
 30  80                     456548 non-null  int64
 31  126                    456548 non-null  int64
 32  17                     456548 non-null  int64
 33  109                    456548 non-null  int64
 34  99                     456548 non-null  int64
 35  72                     456548 non-null  int64
 36  101                    456548 non-null  int64
 37  146                    456548 non-null  int64
 38  76                     456548 non-null  int64
 39  2290                   456548 non-null  int64
 40  1062                   456548 non-null  int64
 41  1727                   456548 non-null  int64
 42  1109                   456548 non-null  int64
 43  1754                   456548 non-null  int64
 44  2707                   456548 non-null  int64
 45  1778                   456548 non-null  int64
 46  1993                   456548 non-null  int64
 47  1962                   456548 non-null  int64
 48  1971                   456548 non-null  int64
 49  1885                   456548 non-null  int64
 50  2581                   456548 non-null  int64
 51  2826                   456548 non-null  int64
 52  2322                   456548 non-null  int64
 53  1558                   456548 non-null  int64
 54  1207                   456548 non-null  int64
 55  2640                   456548 non-null  int64
 56  1230                   456548 non-null  int64
 57  1878                   456548 non-null  int64
 58  2631                   456548 non-null  int64
 59  2539                   456548 non-null  int64
 60  1543                   456548 non-null  int64
 61  2760                   456548 non-null  int64
 62  1248                   456548 non-null  int64
 63  2664                   456548 non-null  int64
 64  2704                   456548 non-null  int64
 65  1445                   456548 non-null  int64
 66  2126                   456548 non-null  int64
 67  1216                   456548 non-null  int64
 68  2304                   456548 non-null  int64
dtypes: float64(2), int64(67)
memory usage: 243.8 MB

In [ ]:
train_data.drop(['center_id','meal_id'],axis = 1, inplace = True)

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456548 entries, 0 to 456547
Data columns (total 67 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     456548 non-null  int64
 1   week                   456548 non-null  int64
 2   checkout_price         456548 non-null  float64
 3   base_price             456548 non-null  float64
 4   emailer_for_promotion  456548 non-null  int64
 5   homepage_featured      456548 non-null  int64
 6   num_orders             456548 non-null  int64
 7   13                     456548 non-null  int64
 8   10                     456548 non-null  int64
 9   52                     456548 non-null  int64
 10  43                     456548 non-null  int64
 11  67                     456548 non-null  int64
 12  137                    456548 non-null  int64
 13  174                    456548 non-null  int64
 14  51                     456548 non-null  int64
 15  27                     456548 non-null  int64
 16  108                    456548 non-null  int64
 17  11                     456548 non-null  int64
 18  132                    456548 non-null  int64
 19  36                     456548 non-null  int64
 20  59                     456548 non-null  int64
 21  89                     456548 non-null  int64
 22  153                    456548 non-null  int64
 23  104                    456548 non-null  int64
 24  20                     456548 non-null  int64
 25  30                     456548 non-null  int64
 26  53                     456548 non-null  int64
 27  23                     456548 non-null  int64
 28  80                     456548 non-null  int64
 29  126                    456548 non-null  int64
 30  17                     456548 non-null  int64
 31  109                    456548 non-null  int64
 32  99                     456548 non-null  int64
 33  72                     456548 non-null  int64
 34  101                    456548 non-null  int64
 35  146                    456548 non-null  int64
 36  76                     456548 non-null  int64
 37  2290                   456548 non-null  int64
 38  1062                   456548 non-null  int64
 39  1727                   456548 non-null  int64
 40  1109                   456548 non-null  int64
 41  1754                   456548 non-null  int64
 42  2707                   456548 non-null  int64
 43  1778                   456548 non-null  int64
 44  1993                   456548 non-null  int64
 45  1962                   456548 non-null  int64
 46  1971                   456548 non-null  int64
 47  1885                   456548 non-null  int64
 48  2581                   456548 non-null  int64
 49  2826                   456548 non-null  int64
 50  2322                   456548 non-null  int64
 51  1558                   456548 non-null  int64
 52  1207                   456548 non-null  int64
 53  2640                   456548 non-null  int64
 54  1230                   456548 non-null  int64
 55  1878                   456548 non-null  int64
 56  2631                   456548 non-null  int64
 57  2539                   456548 non-null  int64
 58  1543                   456548 non-null  int64
 59  2760                   456548 non-null  int64
 60  1248                   456548 non-null  int64
 61  2664                   456548 non-null  int64
 62  2704                   456548 non-null  int64
 63  1445                   456548 non-null  int64
 64  2126                   456548 non-null  int64
 65  1216                   456548 non-null  int64
 66  2304                   456548 non-null  int64
dtypes: float64(2), int64(65)
memory usage: 236.9 MB

In [ ]:
test_with_dummies_center_id = pd.get_dummies(test_data['center_id'])
print(test_with_dummies_center_id)

       10   11   13   14   17   20   23   24   26   27   29   30   32   34   \
0        0    0    0    0    0    0    0    0    0    0    0    0    0    0
1        0    0    0    0    0    0    0    0    0    0    0    0    0    0
2        0    0    0    0    0    0    0    0    0    0    0    0    0    0
3        0    0    0    0    0    0    0    0    0    0    0    0    0    0
4        0    0    0    0    0    0    0    0    0    0    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32568    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32569    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32570    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32571    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32572    0    0    0    0    0    0    0    0    0    0    0    0    0    0

       36   39   41   42   43   50   51   52   53   55   57   58   59   61   \
0        0    0    0    0    0    0    0    0    0    1    0    0    0    0
1        0    0    0    0    0    0    0    0    0    1    0    0    0    0
2        0    0    0    0    0    0    0    0    0    1    0    0    0    0
3        0    0    0    0    0    0    0    0    0    1    0    0    0    0
4        0    0    0    0    0    0    0    0    0    1    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32568    0    0    0    0    0    0    0    0    0    0    0    0    0    1
32569    0    0    0    0    0    0    0    0    0    0    0    0    0    1
32570    0    0    0    0    0    0    0    0    0    0    0    0    0    1
32571    0    0    0    0    0    0    0    0    0    0    0    0    0    1
32572    0    0    0    0    0    0    0    0    0    0    0    0    0    1

       64   65   66   67   68   72   73   74   75   76   77   80   81   83   \
0        0    0    0    0    0    0    0    0    0    0    0    0    0    0
1        0    0    0    0    0    0    0    0    0    0    0    0    0    0
2        0    0    0    0    0    0    0    0    0    0    0    0    0    0
3        0    0    0    0    0    0    0    0    0    0    0    0    0    0
4        0    0    0    0    0    0    0    0    0    0    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32568    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32569    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32570    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32571    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32572    0    0    0    0    0    0    0    0    0    0    0    0    0    0

       86   88   89   91   92   93   94   97   99   101  102  104  106  108  \
0        0    0    0    0    0    0    0    0    0    0    0    0    0    0
1        0    0    0    0    0    0    0    0    0    0    0    0    0    0
2        0    0    0    0    0    0    0    0    0    0    0    0    0    0
3        0    0    0    0    0    0    0    0    0    0    0    0    0    0
4        0    0    0    0    0    0    0    0    0    0    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32568    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32569    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32570    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32571    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32572    0    0    0    0    0    0    0    0    0    0    0    0    0    0

       109  110  113  124  126  129  132  137  139  143  145  146  149  152  \
0        0    0    0    0    0    0    0    0    0    0    0    0    0    0
1        0    0    0    0    0    0    0    0    0    0    0    0    0    0
2        0    0    0    0    0    0    0    0    0    0    0    0    0    0
3        0    0    0    0    0    0    0    0    0    0    0    0    0    0
4        0    0    0    0    0    0    0    0    0    0    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
32568    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32569    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32570    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32571    0    0    0    0    0    0    0    0    0    0    0    0    0    0
32572    0    0    0    0    0    0    0    0    0    0    0    0    0    0

       153  157  161  162  174  177  186
0        0    0    0    0    0    0    0
1        0    0    0    0    0    0    0
2        0    0    0    0    0    0    0
3        0    0    0    0    0    0    0
4        0    0    0    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...
32568    0    0    0    0    0    0    0
32569    0    0    0    0    0    0    0
32570    0    0    0    0    0    0    0
32571    0    0    0    0    0    0    0
32572    0    0    0    0    0    0    0

[32573 rows x 77 columns]

In [ ]:
test_with_dummies_meal_id = pd.get_dummies(test_data['meal_id'])

In [ ]:
print(test_with_dummies_meal_id)

       1062  1109  1198  1207  1216  1230  1247  1248  1311  1438  1445  1525  \
0         0     0     0     0     0     0     0     0     0     0     0     0
1         0     0     0     0     0     0     0     0     0     0     0     0
2         0     0     0     0     0     0     0     0     0     0     0     0
3         0     0     0     0     0     0     0     0     0     0     0     0
4         0     0     0     0     0     0     0     1     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
32568     0     0     0     0     0     0     0     0     0     0     0     0
32569     0     0     0     0     0     0     0     0     0     0     0     0
32570     0     0     0     0     0     0     0     0     0     0     0     0
32571     0     0     0     0     0     0     0     0     0     0     0     0
32572     0     0     0     0     0     0     0     0     0     0     0     0

       1543  1558  1571  1727  1754  1770  1778  1803  1847  1878  1885  1902  \
0         0     0     0     0     0     0     0     0     0     0     1     0
1         0     0     0     0     0     0     0     0     0     0     0     0
2         0     0     0     0     0     0     0     0     0     0     0     0
3         0     0     0     0     0     0     0     0     0     0     0     0
4         0     0     0     0     0     0     0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
32568     1     0     0     0     0     0     0     0     0     0     0     0
32569     0     0     0     0     0     0     0     0     0     0     0     0
32570     0     0     0     0     0     0     0     0     0     0     0     0
32571     0     0     0     0     0     0     0     0     0     0     0     0
32572     0     0     0     0     0     0     0     0     0     0     0     0

       1962  1971  1993  2104  2126  2139  2290  2304  2306  2322  2444  2490  \
0         0     0     0     0     0     0     0     0     0     0     0     0
1         0     0     1     0     0     0     0     0     0     0     0     0
2         0     0     0     0     0     0     0     0     0     0     0     0
3         0     0     0     0     0     0     0     0     0     0     0     0
4         0     0     0     0     0     0     0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
32568     0     0     0     0     0     0     0     0     0     0     0     0
32569     0     0     0     0     0     0     0     1     0     0     0     0
32570     0     0     0     0     0     0     0     0     0     0     0     0
32571     0     0     0     0     0     0     0     0     0     0     0     0
32572     0     0     0     0     0     0     0     0     0     0     0     1

       2492  2494  2539  2569  2577  2581  2631  2640  2664  2704  2707  2760  \
0         0     0     0     0     0     0     0     0     0     0     0     0
1         0     0     0     0     0     0     0     0     0     0     0     0
2         0     0     1     0     0     0     0     0     0     0     0     0
3         0     0     0     0     0     0     1     0     0     0     0     0
4         0     0     0     0     0     0     0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
32568     0     0     0     0     0     0     0     0     0     0     0     0
32569     0     0     0     0     0     0     0     0     0     0     0     0
32570     0     0     0     0     0     0     0     0     1     0     0     0
32571     0     0     0     1     0     0     0     0     0     0     0     0
32572     0     0     0     0     0     0     0     0     0     0     0     0

       2826  2867  2956
0         0     0     0
1         0     0     0
2         0     0     0
3         0     0     0
4         0     0     0
...     ...   ...   ...
32568     0     0     0
32569     0     0     0
32570     0     0     0
32571     0     0     0
32572     0     0     0

[32573 rows x 51 columns]

In [ ]:
test_data1 = test_data.drop(['center_id','meal_id'],axis = 1, inplace = True)

In [ ]:
test_data.head()

,id,week,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,158.11,159.11,0,0
1,1127204,146,160.11,159.11,0,0
2,1212707,146,157.14,159.14,0,0
3,1082698,146,162.02,162.02,0,0
4,1400926,146,163.93,163.93,0,0

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32573 entries, 0 to 32572
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     32573 non-null  int64
 1   week                   32573 non-null  int64
 2   checkout_price         32573 non-null  float64
 3   base_price             32573 non-null  float64
 4   emailer_for_promotion  32573 non-null  int64
 5   homepage_featured      32573 non-null  int64
dtypes: float64(2), int64(4)
memory usage: 1.7 MB

In [ ]:
test_data = pd.concat([test_data,test_with_dummies_center_id,test_with_dummies_meal_id],axis =1)
test_data.head()

,id,week,checkout_price,base_price,emailer_for_promotion,homepage_featured,10,11,13,14,17,20,23,24,26,27,29,30,32,34,36,39,41,42,43,50,51,52,53,55,57,58,59,61,64,65,66,67,68,72,73,74,75,76,77,80,81,83,86,88,89,91,92,93,94,97,99,101,102,104,106,108,109,110,113,124,126,129,132,137,139,143,145,146,149,152,153,157,161,162,174,177,186,1062,1109,1198,1207,1216,1230,1247,1248,1311,1438,1445,1525,1543,1558,1571,1727,1754,1770,1778,1803,1847,1878,1885,1902,1962,1971,1993,2104,2126,2139,2290,2304,2306,2322,2444,2490,2492,2494,2539,2569,2577,2581,2631,2640,2664,2704,2707,2760,2826,2867,2956
0,1028232,146,158.11,159.11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1127204,146,160.11,159.11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1212707,146,157.14,159.14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1082698,146,162.02,162.02,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,1400926,146,163.93,163.93,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32573 entries, 0 to 32572
Columns: 134 entries, id to 2956
dtypes: float64(2), int64(4), uint8(128)
memory usage: 5.7 MB

In [ ]:
to_be_scaled= train_data[['base_price','checkout_price']]
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(to_be_scaled)
df1_scaled= pd.DataFrame(scaled_data, columns= to_be_scaled.columns)

In [ ]:
to_be_scaled_test = test_data[['base_price','checkout_price']]
from sklearn.preprocessing import StandardScaler
scaler_test = StandardScaler()
scaled_data_test = scaler_test.fit_transform(to_be_scaled_test)
df1_scaled_test= pd.DataFrame(scaled_data_test, columns= to_be_scaled_test.columns)

In [ ]:
train_data.drop(to_be_scaled, axis=1, inplace=True)
train_data.head()

,id,week,emailer_for_promotion,homepage_featured,num_orders,13,10,52,43,67,137,174,51,27,108,11,132,36,59,89,153,104,20,30,53,23,80,126,17,109,99,72,101,146,76,2290,1062,1727,1109,1754,2707,1778,1993,1962,1971,1885,2581,2826,2322,1558,1207,2640,1230,1878,2631,2539,1543,2760,1248,2664,2704,1445,2126,1216,2304
0,1379560,1,0,0,177,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1466964,1,0,0,270,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1346989,1,0,0,189,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,1338232,1,0,0,54,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1448490,1,0,0,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_data.drop(to_be_scaled_test, axis =1, inplace = True)
test_data.head()

,id,week,emailer_for_promotion,homepage_featured,10,11,13,14,17,20,23,24,26,27,29,30,32,34,36,39,41,42,43,50,51,52,53,55,57,58,59,61,64,65,66,67,68,72,73,74,75,76,77,80,81,83,86,88,89,91,92,93,94,97,99,101,102,104,106,108,109,110,113,124,126,129,132,137,139,143,145,146,149,152,153,157,161,162,174,177,186,1062,1109,1198,1207,1216,1230,1247,1248,1311,1438,1445,1525,1543,1558,1571,1727,1754,1770,1778,1803,1847,1878,1885,1902,1962,1971,1993,2104,2126,2139,2290,2304,2306,2322,2444,2490,2492,2494,2539,2569,2577,2581,2631,2640,2664,2704,2707,2760,2826,2867,2956
0,1028232,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1127204,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1212707,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1082698,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,1400926,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_data = pd.concat([df1_scaled,train_data],axis=1)
train_data.head()

,base_price,checkout_price,id,week,emailer_for_promotion,homepage_featured,num_orders,13,10,52,43,67,137,174,51,27,108,11,132,36,59,89,153,104,20,30,53,23,80,126,17,109,99,72,101,146,76,2290,1062,1727,1109,1754,2707,1778,1993,1962,1971,1885,2581,2826,2322,1558,1207,2640,1230,1878,2631,2539,1543,2760,1248,2664,2704,1445,2126,1216,2304
0,-1.256048,-1.277687,1379560,1,0,0,177,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,-1.358465,-1.277687,1466964,1,0,0,270,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,-1.358278,-1.290568,1346989,1,0,0,189,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0.518763,0.047477,1338232,1,0,0,54,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,-0.694746,-0.580222,1448490,1,0,0,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_data = pd.concat([df1_scaled_test, test_data],axis =1)
test_data.head()

,base_price,checkout_price,id,week,emailer_for_promotion,homepage_featured,10,11,13,14,17,20,23,24,26,27,29,30,32,34,36,39,41,42,43,50,51,52,53,55,57,58,59,61,64,65,66,67,68,72,73,74,75,76,77,80,81,83,86,88,89,91,92,93,94,97,99,101,102,104,106,108,109,110,113,124,126,129,132,137,139,143,145,146,149,152,153,157,161,162,174,177,186,1062,1109,1198,1207,1216,1230,1247,1248,1311,1438,1445,1525,1543,1558,1571,1727,1754,1770,1778,1803,1847,1878,1885,1902,1962,1971,1993,2104,2126,2139,2290,2304,2306,2322,2444,2490,2492,2494,2539,2569,2577,2581,2631,2640,2664,2704,2707,2760,2826,2867,2956
0,-1.272230,-1.193987,1028232,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,-1.272230,-1.180991,1127204,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,-1.272037,-1.200290,1212707,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,-1.253474,-1.168579,1082698,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,-1.241163,-1.156168,1400926,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32573 entries, 0 to 32572
Columns: 134 entries, base_price to 2956
dtypes: float64(2), int64(4), uint8(128)
memory usage: 5.5 MB

In [ ]:
#need to drop those extra index of centerid and meal id. then predictions to be done

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456548 entries, 0 to 456547
Data columns (total 67 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   base_price             456548 non-null  float64
 1   checkout_price         456548 non-null  float64
 2   id                     456548 non-null  int64
 3   week                   456548 non-null  int64
 4   emailer_for_promotion  456548 non-null  int64
 5   homepage_featured      456548 non-null  int64
 6   num_orders             456548 non-null  int64
 7   13                     456548 non-null  int64
 8   10                     456548 non-null  int64
 9   52                     456548 non-null  int64
 10  43                     456548 non-null  int64
 11  67                     456548 non-null  int64
 12  137                    456548 non-null  int64
 13  174                    456548 non-null  int64
 14  51                     456548 non-null  int64
 15  27                     456548 non-null  int64
 16  108                    456548 non-null  int64
 17  11                     456548 non-null  int64
 18  132                    456548 non-null  int64
 19  36                     456548 non-null  int64
 20  59                     456548 non-null  int64
 21  89                     456548 non-null  int64
 22  153                    456548 non-null  int64
 23  104                    456548 non-null  int64
 24  20                     456548 non-null  int64
 25  30                     456548 non-null  int64
 26  53                     456548 non-null  int64
 27  23                     456548 non-null  int64
 28  80                     456548 non-null  int64
 29  126                    456548 non-null  int64
 30  17                     456548 non-null  int64
 31  109                    456548 non-null  int64
 32  99                     456548 non-null  int64
 33  72                     456548 non-null  int64
 34  101                    456548 non-null  int64
 35  146                    456548 non-null  int64
 36  76                     456548 non-null  int64
 37  2290                   456548 non-null  int64
 38  1062                   456548 non-null  int64
 39  1727                   456548 non-null  int64
 40  1109                   456548 non-null  int64
 41  1754                   456548 non-null  int64
 42  2707                   456548 non-null  int64
 43  1778                   456548 non-null  int64
 44  1993                   456548 non-null  int64
 45  1962                   456548 non-null  int64
 46  1971                   456548 non-null  int64
 47  1885                   456548 non-null  int64
 48  2581                   456548 non-null  int64
 49  2826                   456548 non-null  int64
 50  2322                   456548 non-null  int64
 51  1558                   456548 non-null  int64
 52  1207                   456548 non-null  int64
 53  2640                   456548 non-null  int64
 54  1230                   456548 non-null  int64
 55  1878                   456548 non-null  int64
 56  2631                   456548 non-null  int64
 57  2539                   456548 non-null  int64
 58  1543                   456548 non-null  int64
 59  2760                   456548 non-null  int64
 60  1248                   456548 non-null  int64
 61  2664                   456548 non-null  int64
 62  2704                   456548 non-null  int64
 63  1445                   456548 non-null  int64
 64  2126                   456548 non-null  int64
 65  1216                   456548 non-null  int64
 66  2304                   456548 non-null  int64
dtypes: float64(2), int64(65)
memory usage: 233.4 MB

In [ ]:
test_data.head()

,base_price,checkout_price,id,week,emailer_for_promotion,homepage_featured,10,11,13,14,17,20,23,24,26,27,29,30,32,34,36,39,41,42,43,50,51,52,53,55,57,58,59,61,64,65,66,67,68,72,73,74,75,76,77,80,81,83,86,88,89,91,92,93,94,97,99,101,102,104,106,108,109,110,113,124,126,129,132,137,139,143,145,146,149,152,153,157,161,162,174,177,186,1062,1109,1198,1207,1216,1230,1247,1248,1311,1438,1445,1525,1543,1558,1571,1727,1754,1770,1778,1803,1847,1878,1885,1902,1962,1971,1993,2104,2126,2139,2290,2304,2306,2322,2444,2490,2492,2494,2539,2569,2577,2581,2631,2640,2664,2704,2707,2760,2826,2867,2956
0,-1.272230,-1.193987,1028232,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,-1.272230,-1.180991,1127204,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,-1.272037,-1.200290,1212707,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,-1.253474,-1.168579,1082698,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,-1.241163,-1.156168,1400926,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_data.columns

Index([           'base_price',        'checkout_price',
                          'id',                  'week',
       'emailer_for_promotion',     'homepage_featured',
                  'num_orders',                      13,
                            10,                      52,
                            43,                      67,
                           137,                     174,
                            51,                      27,
                           108,                      11,
                           132,                      36,
                            59,                      89,
                           153,                     104,
                            20,                      30,
                            53,                      23,
                            80,                     126,
                            17,                     109,
                            99,                      72,
                           101,                     146,
                            76,                    2290,
                          1062,                    1727,
                          1109,                    1754,
                          2707,                    1778,
                          1993,                    1962,
                          1971,                    1885,
                          2581,                    2826,
                          2322,                    1558,
                          1207,                    2640,
                          1230,                    1878,
                          2631,                    2539,
                          1543,                    2760,
                          1248,                    2664,
                          2704,                    1445,
                          2126,                    1216,
                          2304],
      dtype='object')

In [ ]:
test_data2 = test_data.copy(deep = True)

In [ ]:
test_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32573 entries, 0 to 32572
Columns: 134 entries, base_price to 2956
dtypes: float64(2), int64(4), uint8(128)
memory usage: 5.5 MB

In [ ]:
test_with_dummies_center_id.columns

Int64Index([ 10,  11,  13,  14,  17,  20,  23,  24,  26,  27,  29,  30,  32,
             34,  36,  39,  41,  42,  43,  50,  51,  52,  53,  55,  57,  58,
             59,  61,  64,  65,  66,  67,  68,  72,  73,  74,  75,  76,  77,
             80,  81,  83,  86,  88,  89,  91,  92,  93,  94,  97,  99, 101,
            102, 104, 106, 108, 109, 110, 113, 124, 126, 129, 132, 137, 139,
            143, 145, 146, 149, 152, 153, 157, 161, 162, 174, 177, 186],
           dtype='int64')

In [ ]:
test_with_dummies_meal_id.columns

Int64Index([1062, 1109, 1198, 1207, 1216, 1230, 1247, 1248, 1311, 1438, 1445,
            1525, 1543, 1558, 1571, 1727, 1754, 1770, 1778, 1803, 1847, 1878,
            1885, 1902, 1962, 1971, 1993, 2104, 2126, 2139, 2290, 2304, 2306,
            2322, 2444, 2490, 2492, 2494, 2539, 2569, 2577, 2581, 2631, 2640,
            2664, 2704, 2707, 2760, 2826, 2867, 2956],
           dtype='int64')

In [ ]:
test_data2.head()

,base_price,checkout_price,id,week,emailer_for_promotion,homepage_featured,10,11,13,14,17,20,23,24,26,27,29,30,32,34,36,39,41,42,43,50,51,52,53,55,57,58,59,61,64,65,66,67,68,72,73,74,75,76,77,80,81,83,86,88,89,91,92,93,94,97,99,101,102,104,106,108,109,110,113,124,126,129,132,137,139,143,145,146,149,152,153,157,161,162,174,177,186,1062,1109,1198,1207,1216,1230,1247,1248,1311,1438,1445,1525,1543,1558,1571,1727,1754,1770,1778,1803,1847,1878,1885,1902,1962,1971,1993,2104,2126,2139,2290,2304,2306,2322,2444,2490,2492,2494,2539,2569,2577,2581,2631,2640,2664,2704,2707,2760,2826,2867,2956
0,-1.272230,-1.193987,1028232,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,-1.272230,-1.180991,1127204,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,-1.272037,-1.200290,1212707,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,-1.253474,-1.168579,1082698,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,-1.241163,-1.156168,1400926,146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_data2.drop([14, 24,  26,  29, 32],axis =1, inplace =True)

In [ ]:
test_data2.drop([34,  39,  41,  42,  50, 55,  57,  58,61,  64,  65,  66,  68, 73,  74,  75,  77,
               81,  83,  86,  88,  91,  92,  93,  94,  97,102, 106, 110, 113, 124, 129, 139,143, 145, 149, 152, 157, 161, 
               162, 177, 186,1198, 1247, 1311, 1438,1525, 1571, 1770, 1803, 1847,1902, 2104, 2139, 2306,2444, 2490, 2492, 2494, 2569, 2577,
              2867, 2956],axis =1, inplace =True)

In [ ]:
test_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32573 entries, 0 to 32572
Data columns (total 66 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   base_price             32573 non-null  float64
 1   checkout_price         32573 non-null  float64
 2   id                     32573 non-null  int64
 3   week                   32573 non-null  int64
 4   emailer_for_promotion  32573 non-null  int64
 5   homepage_featured      32573 non-null  int64
 6   10                     32573 non-null  uint8
 7   11                     32573 non-null  uint8
 8   13                     32573 non-null  uint8
 9   17                     32573 non-null  uint8
 10  20                     32573 non-null  uint8
 11  23                     32573 non-null  uint8
 12  27                     32573 non-null  uint8
 13  30                     32573 non-null  uint8
 14  36                     32573 non-null  uint8
 15  43                     32573 non-null  uint8
 16  51                     32573 non-null  uint8
 17  52                     32573 non-null  uint8
 18  53                     32573 non-null  uint8
 19  59                     32573 non-null  uint8
 20  67                     32573 non-null  uint8
 21  72                     32573 non-null  uint8
 22  76                     32573 non-null  uint8
 23  80                     32573 non-null  uint8
 24  89                     32573 non-null  uint8
 25  99                     32573 non-null  uint8
 26  101                    32573 non-null  uint8
 27  104                    32573 non-null  uint8
 28  108                    32573 non-null  uint8
 29  109                    32573 non-null  uint8
 30  126                    32573 non-null  uint8
 31  132                    32573 non-null  uint8
 32  137                    32573 non-null  uint8
 33  146                    32573 non-null  uint8
 34  153                    32573 non-null  uint8
 35  174                    32573 non-null  uint8
 36  1062                   32573 non-null  uint8
 37  1109                   32573 non-null  uint8
 38  1207                   32573 non-null  uint8
 39  1216                   32573 non-null  uint8
 40  1230                   32573 non-null  uint8
 41  1248                   32573 non-null  uint8
 42  1445                   32573 non-null  uint8
 43  1543                   32573 non-null  uint8
 44  1558                   32573 non-null  uint8
 45  1727                   32573 non-null  uint8
 46  1754                   32573 non-null  uint8
 47  1778                   32573 non-null  uint8
 48  1878                   32573 non-null  uint8
 49  1885                   32573 non-null  uint8
 50  1962                   32573 non-null  uint8
 51  1971                   32573 non-null  uint8
 52  1993                   32573 non-null  uint8
 53  2126                   32573 non-null  uint8
 54  2290                   32573 non-null  uint8
 55  2304                   32573 non-null  uint8
 56  2322                   32573 non-null  uint8
 57  2539                   32573 non-null  uint8
 58  2581                   32573 non-null  uint8
 59  2631                   32573 non-null  uint8
 60  2640                   32573 non-null  uint8
 61  2664                   32573 non-null  uint8
 62  2704                   32573 non-null  uint8
 63  2707                   32573 non-null  uint8
 64  2760                   32573 non-null  uint8
 65  2826                   32573 non-null  uint8
dtypes: float64(2), int64(4), uint8(60)
memory usage: 3.4 MB

In [ ]:
X = train_data.iloc[:,[0,1,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
                       31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,
                       57,58,59,60,61,62,63,64,65,66]]
y = train_data.iloc[:,6]
print(y)
print(X.info())

0         177
1         270
2         189
3          54
4          40
         ...
456543     68
456544     42
456545    501
456546    729
456547    162
Name: num_orders, Length: 456548, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456548 entries, 0 to 456547
Data columns (total 65 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   base_price             456548 non-null  float64
 1   checkout_price         456548 non-null  float64
 2   week                   456548 non-null  int64
 3   emailer_for_promotion  456548 non-null  int64
 4   homepage_featured      456548 non-null  int64
 5   13                     456548 non-null  int64
 6   10                     456548 non-null  int64
 7   52                     456548 non-null  int64
 8   43                     456548 non-null  int64
 9   67                     456548 non-null  int64
 10  137                    456548 non-null  int64
 11  174                    456548 non-null  int64
 12  51                     456548 non-null  int64
 13  27                     456548 non-null  int64
 14  108                    456548 non-null  int64
 15  11                     456548 non-null  int64
 16  132                    456548 non-null  int64
 17  36                     456548 non-null  int64
 18  59                     456548 non-null  int64
 19  89                     456548 non-null  int64
 20  153                    456548 non-null  int64
 21  104                    456548 non-null  int64
 22  20                     456548 non-null  int64
 23  30                     456548 non-null  int64
 24  53                     456548 non-null  int64
 25  23                     456548 non-null  int64
 26  80                     456548 non-null  int64
 27  126                    456548 non-null  int64
 28  17                     456548 non-null  int64
 29  109                    456548 non-null  int64
 30  99                     456548 non-null  int64
 31  72                     456548 non-null  int64
 32  101                    456548 non-null  int64
 33  146                    456548 non-null  int64
 34  76                     456548 non-null  int64
 35  2290                   456548 non-null  int64
 36  1062                   456548 non-null  int64
 37  1727                   456548 non-null  int64
 38  1109                   456548 non-null  int64
 39  1754                   456548 non-null  int64
 40  2707                   456548 non-null  int64
 41  1778                   456548 non-null  int64
 42  1993                   456548 non-null  int64
 43  1962                   456548 non-null  int64
 44  1971                   456548 non-null  int64
 45  1885                   456548 non-null  int64
 46  2581                   456548 non-null  int64
 47  2826                   456548 non-null  int64
 48  2322                   456548 non-null  int64
 49  1558                   456548 non-null  int64
 50  1207                   456548 non-null  int64
 51  2640                   456548 non-null  int64
 52  1230                   456548 non-null  int64
 53  1878                   456548 non-null  int64
 54  2631                   456548 non-null  int64
 55  2539                   456548 non-null  int64
 56  1543                   456548 non-null  int64
 57  2760                   456548 non-null  int64
 58  1248                   456548 non-null  int64
 59  2664                   456548 non-null  int64
 60  2704                   456548 non-null  int64
 61  1445                   456548 non-null  int64
 62  2126                   456548 non-null  int64
 63  1216                   456548 non-null  int64
 64  2304                   456548 non-null  int64
dtypes: float64(2), int64(63)
memory usage: 226.4 MB
None

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state = 42)

In [ ]:
# n_estimators = [5,20,50,100] # number of trees in the random forest
# max_features = ['auto', 'sqrt'] # number of features in consideration at every split
# max_depth = [int(x) for x in np.linspace(10, 120, num = 12)] # maximum number of levels allowed in each decision tree
# min_samples_split = [2, 6, 10] # minimum sample number to split a node
# min_samples_leaf = [1, 3, 4] # minimum sample number that can be stored in a leaf node
# bootstrap = [True, False] # method used to sample data points

# random_grid = {'n_estimators': n_estimators,

# 'max_features': max_features,

# 'max_depth': max_depth,

# 'min_samples_split': min_samples_split,

# 'min_samples_leaf': min_samples_leaf,

# 'bootstrap': bootstrap}

In [ ]:
## Importing Random Forest Classifier from the sklearn.ensemble
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [ ]:
# from sklearn.model_selection import RandomizedSearchCV
# rf_random = RandomizedSearchCV(estimator = rf,param_distributions = random_grid,
#                n_iter = 100, cv = 5, verbose=2, random_state=35, n_jobs = -1)

In [ ]:
rf.fit(X_train, y_train)

RandomForestRegressor()

In [ ]:
y_pred_rf = rf.predict(X_test)

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32573 entries, 0 to 32572
Columns: 134 entries, base_price to 2956
dtypes: float64(2), int64(4), uint8(128)
memory usage: 5.5 MB

In [ ]:
test_data2.drop(['id'],axis =1,inplace =True)

In [ ]:
predictions1 = rf.predict(test_data2)

In [ ]:
print('R Square:',rf.score(X_test, y_test))
print('RMSLE:', 100*np.sqrt(metrics.mean_squared_log_error(y_test, y_pred_rf)))

R Square: 0.7641377498671311
RMSLE: 64.62085703786404

In [ ]:
y_pred_rf_train = rf.predict(X_train)

In [ ]:
print('R Square:',rf.score(X_train, y_train))
print('RMSLE:', 100*np.sqrt(metrics.mean_squared_log_error(y_train, y_pred_rf_train)))

R Square: 0.9580808153544353
RMSLE: 38.766941071265194

In [ ]:
prediction_food = pd.DataFrame(predictions1)

In [ ]:
test_data3 =pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Food Demand csv/test_QoiMO9B.csv")
test_data3.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0

In [ ]:
test_data3.columns

Index(['id', 'week', 'center_id', 'meal_id', 'checkout_price', 'base_price',
       'emailer_for_promotion', 'homepage_featured'],
      dtype='object')

In [ ]:
test_data3.drop(['week', 'center_id', 'meal_id', 'checkout_price', 'base_price',
       'emailer_for_promotion', 'homepage_featured'],axis =1, inplace =True)

In [ ]:
final_df = pd.concat((test_data3,prediction_food),axis = 1 )
final_df.head()

        id       0
0  1028232  270.42
1  1127204  275.39
2  1212707  330.81
3  1082698   91.44
4  1400926  324.04

In [ ]:
final_df.rename(columns = {0:'num_orders'}, inplace = True)
food_demand_csv1 = final_df.to_csv('food_demand_csv1.csv', index = False)

In [ ]:
# n_estimators = [50,100] # number of trees in the random forest
# max_features = ['auto', 'sqrt'] # number of features in consideration at every split
# max_depth = [5,8,10] # maximum number of levels allowed in each decision tree
# min_samples_split = [2, 6] # minimum sample number to split a node
# min_samples_leaf = [1, 3] # minimum sample number that can be stored in a leaf node
# bootstrap = [True] # method used to sample data points

# random_grid = {'n_estimators': n_estimators,

# 'max_features': max_features,

# 'max_depth': max_depth,

# 'min_samples_split': min_samples_split,

# 'min_samples_leaf': min_samples_leaf,

# 'bootstrap': bootstrap}

In [ ]:

# ## Importing Random Forest Classifier from the sklearn.ensemble
# from sklearn.ensemble import RandomForestRegressor
# rf1 = RandomForestRegressor()

# from sklearn.model_selection import RandomizedSearchCV
# rf_random1 = RandomizedSearchCV(estimator = rf,param_distributions = random_grid,
#                n_iter = 100, cv = 5, verbose=2, random_state=35, n_jobs = -1)


# rf_random1.fit(X_train, y_train)
# #predictions
# y_pred_rf = rf.predict(X_test)
# #test score
# print('R Square_test:',rf.score(X_test, y_test))
# print('RMSLE_test:', 100*np.sqrt(metrics.mean_squared_log_error(y_test, y_pred_rf)))
# #train_predictions
# y_pred_rf_train = rf.predict(X_train)

# print('R Square_train:',rf.score(X_train, y_train))
# print('RMSLE_train:', 100*np.sqrt(metrics.mean_squared_log_error(y_train, y_pred_rf_train)))

In [ ]:


# ## Importing Random Forest Classifier from the sklearn.ensemble
# from sklearn.ensemble import RandomForestRegressor
# rf1 = RandomForestRegressor()

# from sklearn.model_selection import RandomizedSearchCV
# rf_random1 = RandomizedSearchCV(estimator = rf,param_distributions = random_grid,
#                n_iter = 100, cv = 5, verbose=2, random_state=42, n_jobs = -1)


# rf_random1.fit(X_train, y_train)
# #predictions
# y_pred_rf = rf.predict(X_test)
# #test score
# print('R Square_test:',rf.score(X_test, y_test))
# print('RMSLE_test:', 100*np.sqrt(metrics.mean_squared_log_error(y_test, y_pred_rf)))
# #train_predictions
# y_pred_rf_train = rf.predict(X_train)

# print('R Square_train:',rf.score(X_train, y_train))
# print('RMSLE_train:', 100*np.sqrt(metrics.mean_squared_log_error(y_train, y_pred_rf_train)))

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456548 entries, 0 to 456547
Data columns (total 67 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   base_price             456548 non-null  float64
 1   checkout_price         456548 non-null  float64
 2   id                     456548 non-null  int64
 3   week                   456548 non-null  int64
 4   emailer_for_promotion  456548 non-null  int64
 5   homepage_featured      456548 non-null  int64
 6   num_orders             456548 non-null  int64
 7   13                     456548 non-null  int64
 8   10                     456548 non-null  int64
 9   52                     456548 non-null  int64
 10  43                     456548 non-null  int64
 11  67                     456548 non-null  int64
 12  137                    456548 non-null  int64
 13  174                    456548 non-null  int64
 14  51                     456548 non-null  int64
 15  27                     456548 non-null  int64
 16  108                    456548 non-null  int64
 17  11                     456548 non-null  int64
 18  132                    456548 non-null  int64
 19  36                     456548 non-null  int64
 20  59                     456548 non-null  int64
 21  89                     456548 non-null  int64
 22  153                    456548 non-null  int64
 23  104                    456548 non-null  int64
 24  20                     456548 non-null  int64
 25  30                     456548 non-null  int64
 26  53                     456548 non-null  int64
 27  23                     456548 non-null  int64
 28  80                     456548 non-null  int64
 29  126                    456548 non-null  int64
 30  17                     456548 non-null  int64
 31  109                    456548 non-null  int64
 32  99                     456548 non-null  int64
 33  72                     456548 non-null  int64
 34  101                    456548 non-null  int64
 35  146                    456548 non-null  int64
 36  76                     456548 non-null  int64
 37  2290                   456548 non-null  int64
 38  1062                   456548 non-null  int64
 39  1727                   456548 non-null  int64
 40  1109                   456548 non-null  int64
 41  1754                   456548 non-null  int64
 42  2707                   456548 non-null  int64
 43  1778                   456548 non-null  int64
 44  1993                   456548 non-null  int64
 45  1962                   456548 non-null  int64
 46  1971                   456548 non-null  int64
 47  1885                   456548 non-null  int64
 48  2581                   456548 non-null  int64
 49  2826                   456548 non-null  int64
 50  2322                   456548 non-null  int64
 51  1558                   456548 non-null  int64
 52  1207                   456548 non-null  int64
 53  2640                   456548 non-null  int64
 54  1230                   456548 non-null  int64
 55  1878                   456548 non-null  int64
 56  2631                   456548 non-null  int64
 57  2539                   456548 non-null  int64
 58  1543                   456548 non-null  int64
 59  2760                   456548 non-null  int64
 60  1248                   456548 non-null  int64
 61  2664                   456548 non-null  int64
 62  2704                   456548 non-null  int64
 63  1445                   456548 non-null  int64
 64  2126                   456548 non-null  int64
 65  1216                   456548 non-null  int64
 66  2304                   456548 non-null  int64
dtypes: float64(2), int64(65)
memory usage: 233.4 MB

In [ ]:
XX = train_data.iloc[:,[0,1,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
                       31,32,33,34,35,36]]
yy = train_data.iloc[:,6]
print(yy)
print(XX.info())

from sklearn.model_selection import train_test_split
XX_train, XX_test, yy_train, yy_test = train_test_split(XX,yy,test_size = 0.3, random_state = 42)

rf2 = RandomForestRegressor()

rf2.fit(XX_train, yy_train)

y_pred_rf = rf2.predict(XX_test)

print('R Square:',rf2.score(XX_test, yy_test))
print('RMSLE:', 100*np.sqrt(metrics.mean_squared_log_error(yy_test, y_pred_rf)))

#train_predictions
y_pred_rf_train = rf2.predict(XX_train)

print('R Square_train:',rf2.score(XX_train, yy_train))
print('RMSLE_train:', 100*np.sqrt(metrics.mean_squared_log_error(yy_train, y_pred_rf_train)))

0         177
1         270
2         189
3          54
4          40
         ...
456543     68
456544     42
456545    501
456546    729
456547    162
Name: num_orders, Length: 456548, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456548 entries, 0 to 456547
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   base_price             456548 non-null  float64
 1   checkout_price         456548 non-null  float64
 2   week                   456548 non-null  int64
 3   emailer_for_promotion  456548 non-null  int64
 4   homepage_featured      456548 non-null  int64
 5   13                     456548 non-null  int64
 6   10                     456548 non-null  int64
 7   52                     456548 non-null  int64
 8   43                     456548 non-null  int64
 9   67                     456548 non-null  int64
 10  137                    456548 non-null  int64
 11  174                    456548 non-null  int64
 12  51                     456548 non-null  int64
 13  27                     456548 non-null  int64
 14  108                    456548 non-null  int64
 15  11                     456548 non-null  int64
 16  132                    456548 non-null  int64
 17  36                     456548 non-null  int64
 18  59                     456548 non-null  int64
 19  89                     456548 non-null  int64
 20  153                    456548 non-null  int64
 21  104                    456548 non-null  int64
 22  20                     456548 non-null  int64
 23  30                     456548 non-null  int64
 24  53                     456548 non-null  int64
 25  23                     456548 non-null  int64
 26  80                     456548 non-null  int64
 27  126                    456548 non-null  int64
 28  17                     456548 non-null  int64
 29  109                    456548 non-null  int64
 30  99                     456548 non-null  int64
 31  72                     456548 non-null  int64
 32  101                    456548 non-null  int64
 33  146                    456548 non-null  int64
 34  76                     456548 non-null  int64
dtypes: float64(2), int64(33)
memory usage: 121.9 MB
None
R Square: 0.6753914782321826
RMSLE: 78.49286032653278

KeyboardInterrupt: ignored

In [ ]:
import xgboost as xg
xgb_r = xg.XGBRegressor(max_depth = 7,
                  n_estimators = 10, seed = 123)
# Fitting the model
xgb_r.fit(X_train, y_train)

# Predict the model
pred_xg = xgb_r.predict(X_test)


# RMSE Computation
rmse = np.sqrt(mean_squared_error(y_test, pred_xg))
print("RMSE : % f" %(rmse))

print('R Square_test:',xgb_r.score(X_test, y_test))
print('RMSLE_test:', 100*np.sqrt(metrics.mean_squared_log_error(y_test, pred_xg)))

#train_predictions
y_pred_xg_train = xgb_r.predict(X_train)

print('R Square_train:',xgb_r.score(X_train, y_train))
print('RMSLE_train:', 100*np.sqrt(metrics.mean_squared_log_error(y_train, y_pred_xg_train)))

[07:08:25] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE :  297.907030
R Square_test: 0.4248483988432452
RMSLE_test: 86.30575194128247
R Square_train: 0.4453080844967856
RMSLE_train: 85.9749539521134

In [ ]:
# #actual predictions
# predictions2 = xgb_r.predict(test_data2)
# prediction_food2 = pd.DataFrame(predictions2)
# final_df1 = pd.concat((test_data3,prediction_food2),axis = 1 )
# final_df1.head()
# final_df1.rename(columns = {0:'num_orders'}, inplace = True)
# food_demand_csv2 = final_df.to_csv('food_demand_csv2.csv', index = False)

In [ ]:
import lightgbm as lgb
model = lgb.LGBMRegressor()
model.fit(X_train, y_train)


# Predict the model
pred_lgb = model.predict(X_test)

# RMSE Computation
rmse = np.sqrt(mean_squared_error(y_test, pred_lgb))
print("RMSE : % f" %(rmse))

print('R Square_test:',model.score(X_test, y_test))
print('RMSLE_test:', 100*np.sqrt(metrics.mean_squared_log_error(y_test, pred_lgb)))

# #train_predictions
# y_pred_lgb_train = model.predict(X_train)

# print('R Square_train:',model.score(X_train, y_train))
# print('RMSLE_train:', 100*np.sqrt(metrics.mean_squared_log_error(y_train, y_pred_lgb_train)))

In [ ]:
%pip install catboost

In [ ]:
from catboost import CatBoostRegressor
# model1 = CatBoostRegressor()
model1 = CatBoostRegressor()
model1.fit(X_train, y_train)


# Predict the model
pred_1 = model1.predict(X_test)

# predictions2 = xgb_r.predict(test_data2)
# prediction_food2 = pd.DataFrame(predictions2)
# final_df1 = pd.concat((test_data3,prediction_food2),axis = 1 )
# final_df1.head()
# final_df1.rename(columns = {0:'num_orders'}, inplace = True)
# food_demand_csv2 = final_df.to_csv('food_demand_csv2.csv', index = False)

# RMSE Computation
rmse = np.sqrt(mean_squared_error(y_test, pred_1))
print("RMSE : % f" %(rmse))

print('R Square_test:',model1.score(X_test, y_test))
# print('RMSLE_test:', 100*np.sqrt(metrics.mean_squared_log_error(y_test, pred_1)))

#train_predictions
# y_pred_cbr_train = model1.predict(X_train)

# print('R Square_train:',model1.score(X_train, y_train))
# print('RMSLE_train:', 100*np.sqrt(metrics.mean_squared_log_error(y_train, y_pred_cbr_train)))

Learning rate set to 0.101837
0:	learn: 383.0809655	total: 56.9ms	remaining: 56.8s
1:	learn: 371.0335334	total: 100ms	remaining: 49.9s
2:	learn: 360.8148293	total: 148ms	remaining: 49s
3:	learn: 352.1993472	total: 189ms	remaining: 47s
4:	learn: 344.1950089	total: 229ms	remaining: 45.5s
5:	learn: 337.5783698	total: 269ms	remaining: 44.6s
6:	learn: 331.8187220	total: 312ms	remaining: 44.3s
7:	learn: 326.8873363	total: 352ms	remaining: 43.7s
8:	learn: 322.3934347	total: 409ms	remaining: 45s
9:	learn: 318.2155138	total: 449ms	remaining: 44.5s
10:	learn: 314.3485518	total: 488ms	remaining: 43.9s
11:	learn: 310.6151364	total: 532ms	remaining: 43.8s
12:	learn: 307.5269754	total: 572ms	remaining: 43.5s
13:	learn: 304.4555294	total: 616ms	remaining: 43.4s
14:	learn: 301.6420066	total: 657ms	remaining: 43.1s
15:	learn: 299.1650510	total: 694ms	remaining: 42.7s
16:	learn: 295.9197785	total: 741ms	remaining: 42.9s
17:	learn: 293.8971891	total: 779ms	remaining: 42.5s
18:	learn: 290.9987274	total: 817ms	remaining: 42.2s
19:	learn: 288.5617292	total: 855ms	remaining: 41.9s
20:	learn: 286.4515326	total: 895ms	remaining: 41.7s
21:	learn: 284.7861774	total: 935ms	remaining: 41.5s
22:	learn: 282.3466664	total: 977ms	remaining: 41.5s
23:	learn: 280.8812750	total: 1.01s	remaining: 41.3s
24:	learn: 279.2200998	total: 1.07s	remaining: 41.8s
25:	learn: 277.4915867	total: 1.11s	remaining: 41.6s
26:	learn: 275.9876384	total: 1.16s	remaining: 41.8s
27:	learn: 274.6140381	total: 1.2s	remaining: 41.7s
28:	learn: 273.3668041	total: 1.24s	remaining: 41.5s
29:	learn: 272.0641079	total: 1.28s	remaining: 41.3s
30:	learn: 270.4650902	total: 1.32s	remaining: 41.1s
31:	learn: 269.1966531	total: 1.35s	remaining: 41s
32:	learn: 267.8754784	total: 1.41s	remaining: 41.3s
33:	learn: 266.8693054	total: 1.45s	remaining: 41.2s
34:	learn: 265.5878259	total: 1.49s	remaining: 41s
35:	learn: 264.4492356	total: 1.53s	remaining: 40.9s
36:	learn: 263.3825527	total: 1.57s	remaining: 40.8s
37:	learn: 262.3711388	total: 1.6s	remaining: 40.6s
38:	learn: 261.5614591	total: 1.66s	remaining: 40.8s
39:	learn: 260.3847033	total: 1.69s	remaining: 40.7s
40:	learn: 259.5032305	total: 1.73s	remaining: 40.5s
41:	learn: 258.7121259	total: 1.77s	remaining: 40.4s
42:	learn: 257.9805781	total: 1.81s	remaining: 40.2s
43:	learn: 257.1313085	total: 1.84s	remaining: 40.1s
44:	learn: 256.5398705	total: 1.9s	remaining: 40.3s
45:	learn: 255.9215812	total: 1.94s	remaining: 40.2s
46:	learn: 255.3375019	total: 1.97s	remaining: 40s
47:	learn: 254.6173211	total: 2.01s	remaining: 39.9s
48:	learn: 253.8131296	total: 2.08s	remaining: 40.3s
49:	learn: 252.9205948	total: 2.12s	remaining: 40.3s
50:	learn: 252.3149613	total: 2.16s	remaining: 40.2s
51:	learn: 251.4652762	total: 2.2s	remaining: 40.1s
52:	learn: 250.9501481	total: 2.24s	remaining: 40s
53:	learn: 250.1735208	total: 2.3s	remaining: 40.3s
54:	learn: 249.4857748	total: 2.35s	remaining: 40.3s
55:	learn: 248.8966990	total: 2.39s	remaining: 40.3s
56:	learn: 248.4129797	total: 2.43s	remaining: 40.2s
57:	learn: 247.8047758	total: 2.47s	remaining: 40.1s
58:	learn: 247.2146121	total: 2.51s	remaining: 40s
59:	learn: 246.6868637	total: 2.55s	remaining: 39.9s
60:	learn: 246.2549448	total: 2.59s	remaining: 39.8s
61:	learn: 245.8551293	total: 2.63s	remaining: 39.7s
62:	learn: 245.3077073	total: 2.66s	remaining: 39.6s
63:	learn: 244.8197773	total: 2.7s	remaining: 39.5s
64:	learn: 244.3396420	total: 2.74s	remaining: 39.4s
65:	learn: 243.8486861	total: 2.79s	remaining: 39.4s
66:	learn: 243.5220649	total: 2.82s	remaining: 39.3s
67:	learn: 242.9806728	total: 2.86s	remaining: 39.2s
68:	learn: 242.5528316	total: 2.9s	remaining: 39.1s
69:	learn: 242.1718641	total: 2.94s	remaining: 39s
70:	learn: 241.7091944	total: 2.97s	remaining: 38.9s
71:	learn: 241.3784458	total: 3.01s	remaining: 38.8s
72:	learn: 240.9078138	total: 3.05s	remaining: 38.7s
73:	learn: 240.5160951	total: 3.1s	remaining: 38.8s
74:	learn: 240.1601656	total: 3.15s	remaining: 38.8s
75:	learn: 239.7216044	total: 3.19s	remaining: 38.7s
76:	learn: 239.3092363	total: 3.23s	remaining: 38.7s
77:	learn: 238.9921610	total: 3.27s	remaining: 38.6s
78:	learn: 238.7188161	total: 3.3s	remaining: 38.5s
79:	learn: 238.3585518	total: 3.34s	remaining: 38.4s
80:	learn: 237.9099435	total: 3.38s	remaining: 38.4s
81:	learn: 237.5837356	total: 3.43s	remaining: 38.4s
82:	learn: 237.2447421	total: 3.47s	remaining: 38.3s
83:	learn: 236.9495505	total: 3.5s	remaining: 38.2s
84:	learn: 236.5281283	total: 3.54s	remaining: 38.1s
85:	learn: 236.1615728	total: 3.58s	remaining: 38.1s
86:	learn: 235.7039957	total: 3.62s	remaining: 38s
87:	learn: 235.3438848	total: 3.66s	remaining: 37.9s
88:	learn: 234.8808820	total: 3.7s	remaining: 37.9s
89:	learn: 234.6542967	total: 3.74s	remaining: 37.8s
90:	learn: 234.3404340	total: 3.78s	remaining: 37.7s
91:	learn: 234.0657371	total: 3.82s	remaining: 37.7s
92:	learn: 233.7843144	total: 3.87s	remaining: 37.8s
93:	learn: 233.4928058	total: 3.91s	remaining: 37.7s
94:	learn: 233.1052633	total: 3.95s	remaining: 37.6s
95:	learn: 232.8751891	total: 3.99s	remaining: 37.5s
96:	learn: 232.5729075	total: 4.03s	remaining: 37.5s
97:	learn: 232.3355142	total: 4.06s	remaining: 37.4s
98:	learn: 232.0295828	total: 4.13s	remaining: 37.5s
99:	learn: 231.7719237	total: 4.16s	remaining: 37.5s
100:	learn: 231.5380900	total: 4.2s	remaining: 37.4s
101:	learn: 231.1927157	total: 4.25s	remaining: 37.4s
102:	learn: 230.9287171	total: 4.29s	remaining: 37.4s
103:	learn: 230.7021289	total: 4.33s	remaining: 37.3s
104:	learn: 230.4337577	total: 4.38s	remaining: 37.3s
105:	learn: 230.1818404	total: 4.42s	remaining: 37.3s
106:	learn: 229.9355490	total: 4.45s	remaining: 37.2s
107:	learn: 229.6335664	total: 4.5s	remaining: 37.1s
108:	learn: 229.4232126	total: 4.53s	remaining: 37.1s
109:	learn: 229.1898697	total: 4.58s	remaining: 37s
110:	learn: 229.0257249	total: 4.61s	remaining: 36.9s
111:	learn: 228.8045021	total: 4.65s	remaining: 36.9s
112:	learn: 228.6125872	total: 4.69s	remaining: 36.8s
113:	learn: 228.3395960	total: 4.73s	remaining: 36.7s
114:	learn: 228.1306854	total: 4.76s	remaining: 36.7s
115:	learn: 227.9795849	total: 4.81s	remaining: 36.6s
116:	learn: 227.6733516	total: 4.85s	remaining: 36.6s
117:	learn: 227.4137967	total: 4.89s	remaining: 36.5s
118:	learn: 227.0616768	total: 4.93s	remaining: 36.5s
119:	learn: 226.7618774	total: 4.97s	remaining: 36.5s
120:	learn: 226.5367967	total: 5.02s	remaining: 36.5s
121:	learn: 226.3635100	total: 5.05s	remaining: 36.4s
122:	learn: 226.1448699	total: 5.09s	remaining: 36.3s
123:	learn: 225.9374614	total: 5.15s	remaining: 36.4s
124:	learn: 225.6623280	total: 5.19s	remaining: 36.3s
125:	learn: 225.4171052	total: 5.24s	remaining: 36.4s
126:	learn: 225.1618048	total: 5.28s	remaining: 36.3s
127:	learn: 225.0175437	total: 5.32s	remaining: 36.2s
128:	learn: 224.7935000	total: 5.36s	remaining: 36.2s
129:	learn: 224.6252908	total: 5.39s	remaining: 36.1s
130:	learn: 224.4204838	total: 5.43s	remaining: 36s
131:	learn: 224.1823531	total: 5.48s	remaining: 36s
132:	learn: 223.9033743	total: 5.51s	remaining: 36s
133:	learn: 223.7472751	total: 5.55s	remaining: 35.9s
134:	learn: 223.6031284	total: 5.59s	remaining: 35.9s
135:	learn: 223.4038853	total: 5.63s	remaining: 35.8s
136:	learn: 223.2623465	total: 5.67s	remaining: 35.7s
137:	learn: 223.0672197	total: 5.71s	remaining: 35.7s
138:	learn: 222.8236616	total: 5.76s	remaining: 35.7s
139:	learn: 222.6403417	total: 5.8s	remaining: 35.6s
140:	learn: 222.4098570	total: 5.84s	remaining: 35.6s
141:	learn: 222.2200636	total: 5.87s	remaining: 35.5s
142:	learn: 222.0309562	total: 5.91s	remaining: 35.4s
143:	learn: 221.8377438	total: 5.95s	remaining: 35.4s
144:	learn: 221.6721718	total: 5.99s	remaining: 35.3s
145:	learn: 221.5023818	total: 6.03s	remaining: 35.3s
146:	learn: 221.3496838	total: 6.07s	remaining: 35.2s
147:	learn: 221.1915424	total: 6.11s	remaining: 35.2s
148:	learn: 220.9539697	total: 6.16s	remaining: 35.2s
149:	learn: 220.7896917	total: 6.2s	remaining: 35.1s
150:	learn: 220.6493374	total: 6.24s	remaining: 35.1s
151:	learn: 220.4508737	total: 6.28s	remaining: 35s
152:	learn: 220.3234986	total: 6.31s	remaining: 34.9s
153:	learn: 220.1612517	total: 6.35s	remaining: 34.9s
154:	learn: 220.0163974	total: 6.4s	remaining: 34.9s
155:	learn: 219.8649153	total: 6.44s	remaining: 34.8s
156:	learn: 219.7466516	total: 6.48s	remaining: 34.8s
157:	learn: 219.5996331	total: 6.52s	remaining: 34.7s
158:	learn: 219.3835400	total: 6.55s	remaining: 34.7s
159:	learn: 219.1648587	total: 6.59s	remaining: 34.6s
160:	learn: 219.0113043	total: 6.63s	remaining: 34.6s
161:	learn: 218.8716978	total: 6.67s	remaining: 34.5s
162:	learn: 218.7177100	total: 6.71s	remaining: 34.4s
163:	learn: 218.6167972	total: 6.74s	remaining: 34.4s
164:	learn: 218.4033012	total: 6.78s	remaining: 34.3s
165:	learn: 218.2218522	total: 6.82s	remaining: 34.3s
166:	learn: 218.0684191	total: 6.86s	remaining: 34.2s
167:	learn: 217.9239589	total: 6.9s	remaining: 34.2s
168:	learn: 217.7545132	total: 6.95s	remaining: 34.2s
169:	learn: 217.6357534	total: 6.98s	remaining: 34.1s
170:	learn: 217.4417645	total: 7.02s	remaining: 34s
171:	learn: 217.3064512	total: 7.06s	remaining: 34s
172:	learn: 217.1573966	total: 7.1s	remaining: 33.9s
173:	learn: 216.9566232	total: 7.15s	remaining: 33.9s
174:	learn: 216.7644227	total: 7.19s	remaining: 33.9s
175:	learn: 216.6347962	total: 7.23s	remaining: 33.9s
176:	learn: 216.5169590	total: 7.27s	remaining: 33.8s
177:	learn: 216.2866599	total: 7.31s	remaining: 33.8s
178:	learn: 216.1093843	total: 7.35s	remaining: 33.7s
179:	learn: 215.9851657	total: 7.39s	remaining: 33.7s
180:	learn: 215.8395249	total: 7.43s	remaining: 33.6s
181:	learn: 215.6775156	total: 7.47s	remaining: 33.6s
182:	learn: 215.4597082	total: 7.51s	remaining: 33.5s
183:	learn: 215.3449093	total: 7.55s	remaining: 33.5s
184:	learn: 215.1859402	total: 7.59s	remaining: 33.4s
185:	learn: 215.0873732	total: 7.63s	remaining: 33.4s
186:	learn: 214.7873069	total: 7.67s	remaining: 33.3s
187:	learn: 214.6587472	total: 7.71s	remaining: 33.3s
188:	learn: 214.4992689	total: 7.75s	remaining: 33.3s
189:	learn: 214.3948962	total: 7.79s	remaining: 33.2s
190:	learn: 214.2474490	total: 7.83s	remaining: 33.1s
191:	learn: 214.0991600	total: 7.86s	remaining: 33.1s
192:	learn: 213.9436953	total: 7.9s	remaining: 33s
193:	learn: 213.8431405	total: 7.94s	remaining: 33s
194:	learn: 213.6023288	total: 7.98s	remaining: 32.9s
195:	learn: 213.4829347	total: 8.03s	remaining: 32.9s
196:	learn: 213.3842488	total: 8.07s	remaining: 32.9s
197:	learn: 213.2404036	total: 8.1s	remaining: 32.8s
198:	learn: 213.1040821	total: 8.14s	remaining: 32.8s
199:	learn: 212.9493341	total: 8.2s	remaining: 32.8s
200:	learn: 212.8550208	total: 8.24s	remaining: 32.7s
201:	learn: 212.7136256	total: 8.27s	remaining: 32.7s
202:	learn: 212.5877701	total: 8.31s	remaining: 32.6s
203:	learn: 212.4768388	total: 8.35s	remaining: 32.6s
204:	learn: 212.3641452	total: 8.39s	remaining: 32.5s
205:	learn: 212.2446171	total: 8.43s	remaining: 32.5s
206:	learn: 212.1426252	total: 8.47s	remaining: 32.5s
207:	learn: 212.0045801	total: 8.51s	remaining: 32.4s
208:	learn: 211.8761724	total: 8.55s	remaining: 32.4s
209:	learn: 211.6902124	total: 8.59s	remaining: 32.3s
210:	learn: 211.5681258	total: 8.64s	remaining: 32.3s
211:	learn: 211.4456780	total: 8.68s	remaining: 32.2s
212:	learn: 211.3526190	total: 8.71s	remaining: 32.2s
213:	learn: 211.2174970	total: 8.75s	remaining: 32.1s
214:	learn: 211.0883084	total: 8.79s	remaining: 32.1s
215:	learn: 210.9325092	total: 8.83s	remaining: 32s
216:	learn: 210.8067333	total: 8.87s	remaining: 32s
217:	learn: 210.7161279	total: 8.91s	remaining: 32s
218:	learn: 210.5714938	total: 8.94s	remaining: 31.9s
219:	learn: 210.4742748	total: 8.98s	remaining: 31.8s
220:	learn: 210.3788628	total: 9.02s	remaining: 31.8s
221:	learn: 210.2424596	total: 9.06s	remaining: 31.8s
222:	learn: 210.1446758	total: 9.11s	remaining: 31.7s
223:	learn: 210.0235359	total: 9.15s	remaining: 31.7s
224:	learn: 209.9152310	total: 9.2s	remaining: 31.7s
225:	learn: 209.7292538	total: 9.24s	remaining: 31.6s
226:	learn: 209.6233286	total: 9.28s	remaining: 31.6s
227:	learn: 209.5630519	total: 9.32s	remaining: 31.6s
228:	learn: 209.4659022	total: 9.36s	remaining: 31.5s
229:	learn: 209.3751749	total: 9.4s	remaining: 31.5s
230:	learn: 209.2508720	total: 9.44s	remaining: 31.4s
231:	learn: 209.1483745	total: 9.47s	remaining: 31.4s
232:	learn: 208.9958332	total: 9.51s	remaining: 31.3s
233:	learn: 208.9047587	total: 9.55s	remaining: 31.3s
234:	learn: 208.7940065	total: 9.59s	remaining: 31.2s
235:	learn: 208.6861336	total: 9.64s	remaining: 31.2s
236:	learn: 208.5166270	total: 9.68s	remaining: 31.2s
237:	learn: 208.4383044	total: 9.72s	remaining: 31.1s
238:	learn: 208.3411836	total: 9.76s	remaining: 31.1s
239:	learn: 208.2512782	total: 9.8s	remaining: 31s
240:	learn: 208.1035135	total: 9.84s	remaining: 31s
241:	learn: 208.0410412	total: 9.87s	remaining: 30.9s
242:	learn: 207.8090074	total: 9.91s	remaining: 30.9s
243:	learn: 207.7198985	total: 9.95s	remaining: 30.8s
244:	learn: 207.5824286	total: 9.99s	remaining: 30.8s
245:	learn: 207.4861154	total: 10s	remaining: 30.8s
246:	learn: 207.3796412	total: 10.1s	remaining: 30.7s
247:	learn: 207.2803884	total: 10.1s	remaining: 30.7s
248:	learn: 207.1689122	total: 10.2s	remaining: 30.6s
249:	learn: 207.0471911	total: 10.2s	remaining: 30.7s
250:	learn: 206.9278664	total: 10.3s	remaining: 30.6s
251:	learn: 206.8441740	total: 10.3s	remaining: 30.6s
252:	learn: 206.7463953	total: 10.3s	remaining: 30.5s
253:	learn: 206.6667277	total: 10.4s	remaining: 30.5s
254:	learn: 206.5810885	total: 10.4s	remaining: 30.4s
255:	learn: 206.4414114	total: 10.5s	remaining: 30.4s
256:	learn: 206.3720260	total: 10.5s	remaining: 30.3s
257:	learn: 206.3039065	total: 10.5s	remaining: 30.3s
258:	learn: 206.1836449	total: 10.6s	remaining: 30.2s
259:	learn: 206.0782683	total: 10.6s	remaining: 30.2s
260:	learn: 205.9718458	total: 10.6s	remaining: 30.1s
261:	learn: 205.8553057	total: 10.7s	remaining: 30.1s
262:	learn: 205.7881917	total: 10.7s	remaining: 30.1s
263:	learn: 205.6989690	total: 10.8s	remaining: 30s
264:	learn: 205.5959987	total: 10.8s	remaining: 30s
265:	learn: 205.5454986	total: 10.8s	remaining: 29.9s
266:	learn: 205.4722471	total: 10.9s	remaining: 29.9s
267:	learn: 205.3816700	total: 10.9s	remaining: 29.9s
268:	learn: 205.3113477	total: 11s	remaining: 29.8s
269:	learn: 205.2018551	total: 11s	remaining: 29.8s
270:	learn: 205.1065924	total: 11s	remaining: 29.7s
271:	learn: 205.0509793	total: 11.1s	remaining: 29.7s
272:	learn: 204.9520147	total: 11.1s	remaining: 29.6s
273:	learn: 204.8761240	total: 11.2s	remaining: 29.6s
274:	learn: 204.7844692	total: 11.2s	remaining: 29.6s
275:	learn: 204.6981950	total: 11.3s	remaining: 29.6s
276:	learn: 204.5898810	total: 11.3s	remaining: 29.5s
277:	learn: 204.5007465	total: 11.3s	remaining: 29.5s
278:	learn: 204.4306455	total: 11.4s	remaining: 29.4s
279:	learn: 204.3388782	total: 11.4s	remaining: 29.4s
280:	learn: 204.2527169	total: 11.5s	remaining: 29.3s
281:	learn: 204.1736665	total: 11.5s	remaining: 29.3s
282:	learn: 204.1019508	total: 11.5s	remaining: 29.2s
283:	learn: 203.9615015	total: 11.6s	remaining: 29.2s
284:	learn: 203.8342064	total: 11.6s	remaining: 29.2s
285:	learn: 203.7444944	total: 11.7s	remaining: 29.1s
286:	learn: 203.6180751	total: 11.7s	remaining: 29.1s
287:	learn: 203.5622995	total: 11.7s	remaining: 29s
288:	learn: 203.4721908	total: 11.8s	remaining: 29s
289:	learn: 203.4041089	total: 11.8s	remaining: 29s
290:	learn: 203.3517350	total: 11.9s	remaining: 28.9s
291:	learn: 203.2816889	total: 11.9s	remaining: 28.9s
292:	learn: 203.1830154	total: 11.9s	remaining: 28.8s
293:	learn: 203.0580428	total: 12s	remaining: 28.8s
294:	learn: 202.9577166	total: 12s	remaining: 28.7s
295:	learn: 202.8888800	total: 12.1s	remaining: 28.7s
296:	learn: 202.8174731	total: 12.1s	remaining: 28.6s
297:	learn: 202.7595298	total: 12.1s	remaining: 28.6s
298:	learn: 202.5865633	total: 12.2s	remaining: 28.6s
299:	learn: 202.5069946	total: 12.2s	remaining: 28.6s
300:	learn: 202.3854995	total: 12.3s	remaining: 28.5s
301:	learn: 202.3296672	total: 12.3s	remaining: 28.5s
302:	learn: 202.2245609	total: 12.4s	remaining: 28.4s
303:	learn: 202.0530010	total: 12.4s	remaining: 28.4s
304:	learn: 201.9884488	total: 12.4s	remaining: 28.4s
305:	learn: 201.8618298	total: 12.5s	remaining: 28.3s
306:	learn: 201.7783574	total: 12.5s	remaining: 28.3s
307:	learn: 201.7202039	total: 12.6s	remaining: 28.2s
308:	learn: 201.6417877	total: 12.6s	remaining: 28.2s
309:	learn: 201.5492654	total: 12.6s	remaining: 28.1s
310:	learn: 201.4189061	total: 12.7s	remaining: 28.1s
311:	learn: 201.3823529	total: 12.7s	remaining: 28.1s
312:	learn: 201.2999568	total: 12.8s	remaining: 28s
313:	learn: 201.2406031	total: 12.8s	remaining: 28s
314:	learn: 201.1754975	total: 12.8s	remaining: 27.9s
315:	learn: 201.1208649	total: 12.9s	remaining: 27.9s
316:	learn: 201.0610380	total: 12.9s	remaining: 27.8s
317:	learn: 200.9771191	total: 13s	remaining: 27.8s
318:	learn: 200.9191473	total: 13s	remaining: 27.8s
319:	learn: 200.8279034	total: 13s	remaining: 27.7s
320:	learn: 200.7408888	total: 13.1s	remaining: 27.7s
321:	learn: 200.6778089	total: 13.1s	remaining: 27.6s
322:	learn: 200.6034381	total: 13.2s	remaining: 27.6s
323:	learn: 200.5025240	total: 13.2s	remaining: 27.5s
324:	learn: 200.4343843	total: 13.2s	remaining: 27.5s
325:	learn: 200.3798820	total: 13.3s	remaining: 27.5s
326:	learn: 200.3170823	total: 13.3s	remaining: 27.4s
327:	learn: 200.2356515	total: 13.4s	remaining: 27.4s
328:	learn: 200.1614992	total: 13.4s	remaining: 27.4s
329:	learn: 200.0700839	total: 13.5s	remaining: 27.3s
330:	learn: 200.0019219	total: 13.5s	remaining: 27.3s
331:	learn: 199.9103710	total: 13.5s	remaining: 27.2s
332:	learn: 199.8493083	total: 13.6s	remaining: 27.2s
333:	learn: 199.7818299	total: 13.6s	remaining: 27.1s
334:	learn: 199.7039238	total: 13.6s	remaining: 27.1s
335:	learn: 199.6234401	total: 13.7s	remaining: 27.1s
336:	learn: 199.5914997	total: 13.7s	remaining: 27s
337:	learn: 199.5403868	total: 13.8s	remaining: 27s
338:	learn: 199.4107949	total: 13.8s	remaining: 26.9s
339:	learn: 199.3362088	total: 13.9s	remaining: 26.9s
340:	learn: 199.2781499	total: 13.9s	remaining: 26.9s
341:	learn: 199.2029068	total: 13.9s	remaining: 26.8s
342:	learn: 199.1257368	total: 14s	remaining: 26.8s
343:	learn: 199.0501035	total: 14s	remaining: 26.7s
344:	learn: 199.0030349	total: 14s	remaining: 26.7s
345:	learn: 198.9559175	total: 14.1s	remaining: 26.6s
346:	learn: 198.8925135	total: 14.1s	remaining: 26.6s
347:	learn: 198.7971721	total: 14.2s	remaining: 26.5s
348:	learn: 198.7264489	total: 14.2s	remaining: 26.5s
349:	learn: 198.6277562	total: 14.2s	remaining: 26.4s
350:	learn: 198.5704795	total: 14.3s	remaining: 26.4s
351:	learn: 198.5308557	total: 14.3s	remaining: 26.4s
352:	learn: 198.4413741	total: 14.4s	remaining: 26.4s
353:	learn: 198.3626292	total: 14.4s	remaining: 26.3s
354:	learn: 198.2813921	total: 14.5s	remaining: 26.3s
355:	learn: 198.2258894	total: 14.5s	remaining: 26.2s
356:	learn: 198.1852393	total: 14.5s	remaining: 26.2s
357:	learn: 198.1067292	total: 14.6s	remaining: 26.2s
358:	learn: 198.0482584	total: 14.6s	remaining: 26.1s
359:	learn: 197.9895824	total: 14.7s	remaining: 26.1s
360:	learn: 197.9295947	total: 14.7s	remaining: 26s
361:	learn: 197.8914233	total: 14.7s	remaining: 26s
362:	learn: 197.8350301	total: 14.8s	remaining: 25.9s
363:	learn: 197.7873137	total: 14.8s	remaining: 25.9s
364:	learn: 197.7180694	total: 14.9s	remaining: 25.9s
365:	learn: 197.6391076	total: 14.9s	remaining: 25.8s
366:	learn: 197.5926821	total: 14.9s	remaining: 25.8s
367:	learn: 197.5384763	total: 15s	remaining: 25.7s
368:	learn: 197.4652135	total: 15s	remaining: 25.7s
369:	learn: 197.4156427	total: 15.1s	remaining: 25.6s
370:	learn: 197.3797911	total: 15.1s	remaining: 25.6s
371:	learn: 197.3316034	total: 15.1s	remaining: 25.6s
372:	learn: 197.2786013	total: 15.2s	remaining: 25.5s
373:	learn: 197.1741132	total: 15.2s	remaining: 25.5s

In [ ]:
# train_predictions
y_pred_cbr_train = model1.predict(X_train)

print('R Square_train:',model1.score(X_train, y_train))